body{  
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.logo{
    width: 500px;
}

img{
    width: 100%;
}

.search{
    width: 300px;
    height: 40px;
    border: 1px black solid; 
}